.top-main{
  background-color: #EEFFFF;
}
.web-explain-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explain-title{
  margin: 20px 0;
  font-size: 26px;
  font-weight: bold;
}
.service-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-pict{
  height: 400px;
  width: 600px;
}
.explain-report{
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}
.lists{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explain-sentence, .explain-sentence-2{
  font-size: 18px;
}
.explain-sentence-2{
  text-align: left;
}
.report-index{
  margin: 80px 0 30px 0;
}
.index-title{
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}
.report-lists{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reports-user-nickname, .reports-title{
  margin: 10px 0;
}
.user-nickname, .title{
  font-size: 20px;
}
.user-nickname{
  text-align: center;
}
.report-none-message{
  text-align: center;
  font-size: 18px;
}
.none-report-picture{
  margin: 15px 0 20px 0;
  height: 200px;
  width: 400px;
}
.report-btn{
  position: fixed;
  right: 30px ;
  bottom: 30px;
  background-color: #FFFF99;
  padding: 20px;
  border-radius: 5%;
}
.report-btn:hover{
  filter:alpha(opacity=80); /* IE向けに透過率80%を指定 */
  opacity:0.8; /* 透過率80%を指定 */
}
.report-btn-text{
  font-family: 'arial unicode ms';
}
.flash{
  width: 100%;
  text-align: center;
  background-color: aqua;
}
.list:hover{
  color: red;
}