.report-contents{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEFFFF;
}
.report-form-main{
  background-color: white;
  width: 70vw;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.report-form-subtitle{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 10px 0 50px;
}
.report-form-field{
  margin: 10px 0;
}
.report-form-wrap{
  display: flex;
  justify-content: center;
}
.report-short-box{
  margin: 10px 0;
  border: 1px solid lightgray;
  padding: 10px;
  width: 400px;
}
.report-text{
  height: 100%;
  width: 100%;
  resize: none;
}
.report-form-text-box{
  margin: 10px 0;
  border: 1px solid lightgray;
  width: 400px;
  height: 500px;
  padding: 10px 10px;
  overflow: scroll;
}
.report-item{
  resize: none;
  width: 100%;
  height: 100%;
}
.report-form-evaluate-box{
  margin: 10px 0;
  border: 1px solid lightgray;
  width: 400px;
  height: 80px;
  padding: 10px 10px;
  overflow: scroll;
}
.report-rate-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.rate-form-field{
  margin-top: 10px;
}
.rate-edit-field{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.report-form-submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.rate-reason{
  border: solid 1px lightgray;
  padding: 10px;
  resize: none;
  width: 400px;
  height: 80px;
}
.report-send-btn{
  background-color: #FF0000;
  color: #F5F5F5;
  font-weight: bold;
  width: 150px;
  text-align: center;
  padding: 10px 0;
}
.report-send-btn:hover{
  filter:alpha(opacity=80); 
  opacity:0.8; 
}
.report-send-btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.alert-warning{
  margin-bottom: 15px;
  color: red;
}
