.report-show{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.report-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 70vw;
}
.ribbon8 {
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  font-size: 16px;
  color: #FFF;
  background: #a6d3c8;
  text-align: center;
  max-width: 20vw;
}
.ribbon8:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}
.ribbon8:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-left: solid 20px rgb(149, 158, 155);
}
.show-title{
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 18px;
}
.show-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  overflow-wrap: anywhere;
}
.show-text, .show-artist{
  font-size: 18px;
  margin: 30px 0 10px 0;
}
.show-content-box{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-recommend{
  text-align: center;
  font-size: 18px;
  margin: 30px 0 10px 0;
}
.rate-contents-top{
  margin: 25px 0 10px 0;
  font-size: 18px;
}
.rate-contents{
  margin: 10px 0;
  font-size: 18px;
}
.show-rate-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reason-box{
  margin-top: 15px;
  font-size: 18px;
}
.show-user-box{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.show-nickname{
  margin: 30px 0 10px 0;
  font-size: 18px;
  border-bottom: 1px black solid;
}
.edit-btn{
  margin: 10px 0 5px 0;
  padding: 15px 60px;
  background-color: #006400;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
.edit-btn:hover{
  filter:alpha(opacity=80); 
  opacity:0.8; 
}
.edit-btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.delete-btn{
  margin: 20px 0 30px 0;
  padding: 15px 60px;
  background-color: #FF0000;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}
.delete-btn:hover{
  filter:alpha(opacity=80); 
  opacity:0.8; 
}
.delete-btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}
.comment-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.comment-input{
  resize: none;
  border: 1px solid lightgray;
  height: 25vh;
  width: 25vw;
  padding: 10px;
}
.comment-warn{
  margin-top: 10px;
}
.comment-send-btn{
  background-color: #FF0000;
  color: #FFF;
  margin-top: 20px;
  padding: 10px 60px;
  font-weight: bold;
  cursor: pointer;
}
.comment-send-btn:hover{
  filter:alpha(opacity=80); 
  opacity:0.8;
}
.comment-send-btn:active{
  position: relative;
  top: 2px;
  left: 2px;
}
.comment-no-login{
  margin-top: 30px;
  text-align: center;
}
.report-comment-box{
  margin-top: 20px;
}
.comment-field{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-user{
  margin: 10px 0;
  border-bottom: 1px solid black;
}
.comment-text{
  margin: 10px 0;
}
.comment-delete-btn{
  background-color: #FF0000;
  color: #FFF;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.back-btn{
  margin: 30px 0 10px 0;
  padding: 10px 50px;
  background-color: #999999;
  color: #FFF;
  font-weight: bold;
  cursor: pointer !important;
}
.back-btn:hover{
  filter:alpha(opacity=80); 
  opacity:0.8; 
}
.back-btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}