header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
}
.navi{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.right-lists{
  display: flex;
  list-style: none;
  font-weight: bold;
}
.sign-up, .logout{
  margin: 0 10px;
}
.search{
  margin-right: 10px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 100px;
  width: 100vw;
}