<%= render "shared/second-header" %>

<div class="artists-main">
  <div class="artists-subtitle">
   <h2 class="ribbon8">アーティスト一覧</h2>
  </div>
  <ul class="artists-all">
    <% @reports.each do |report| %>
    <li class="artists-content">
      <%= link_to report.artist, artist_show_report_path(report.id) %>
    <li>
    <% end %>
  </ul>
</div>

<%= render "shared/footer" %>